# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Eclipse IDE files
bin
.settings
.classpath
.project

# Ignore Windows Thumb.db files
**/Thumbs.db

# Ignore MacOS
**/.DS_Store
.idea/
run/

# Ignore package building artifacts
build_packages/*

# ... Except build_packages/NSIS/ProgressiaInstaller.nsi
!build_packages/NSIS
build_packages/NSIS/*
!build_packages/NSIS/ProgressiaInstaller.nsi

# ... and except build_packages/DEB/progressia-*/DEBIAN/control
!build_packages/DEB
build_packages/DEB/*
!build_packages/DEB/progressia-*
build_packages/DEB/progressia-*/*
!build_packages/DEB/progressia-*/DEBIAN
build_packages/DEB/progressia-*/DEBIAN/*
!build_packages/DEB/progressia-*/DEBIAN/control
