# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Eclipse IDE files
bin
.settings
.classpath
.project

# Ignore Windows Thumb.db files
**/Thumbs.db

# Ignore MacOS
**/.DS_Store
.idea/

# Ignore the dedicated working directory
run/*

# ... Except the dummy file inside to make sure that the directory exists
!run/.dummy

# Ignore package building artifacts
build_packages/*

# ... Except build_packages/NSIS/ProgressiaInstaller.nsi
!build_packages/NSIS
build_packages/NSIS/*
!build_packages/NSIS/ProgressiaInstaller.nsi
!build_packages/NSIS/logo.ico
!build_packages/NSIS/left_side.bmp

# ... and except build_packages/DEB/template
!build_packages/DEB
build_packages/DEB/*
!build_packages/DEB/template
