Package: progressia
Version: ${version}
Section: custom
Priority: optional
Architecture: all
Maintainer: Javapony <kvadropups@gmail.com>
Depends: java8-runtime
Description: Progressia - a 3D sandbox survival game
